<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" >
      <img src="../assets/images/recycle_icon.svg" width="45" height="40" style="border-radius: 5px">
  </a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
  <div class="navbar-nav">
      <!-- Home -->
      <a class="nav-item nav-link px-3 active" href="#">
          <img src="../assets/images/home_icon.svg" height="18" class="icon"> Home
      </a>
       <!-- Recycle Bins -->
       <a class="nav-item nav-link px-3 active" href="#RecycleBins">
        <img src="../assets/images/recycleBins_icon.svg" height="18" class="icon"> Recycle Bins
    </a>
      <!-- Game -->
      <a class="nav-item nav-link px-3 active" href="#game"> 
          <img src="../assets/images/game_icon.svg" height="18" class="icon"> Game
      </a>
      <!-- Contact Us -->
      <a class="nav-item nav-link px-3 active" href="#"> 
        <img src="../assets/images/contactUs_icon.svg" height="18" class="icon"> Contact us
    </a>
  </div>
  </div>
</nav>

<br><br>

<div class="hero-container">
  <div class="hero-image">
  </div>
  <div class="hero-text">
    <br><br><br><br><br><br><br><br><br><br><br><h1>Reduce,<br>Reuse,<br>Recycle</h1>
  </div>
</div>

<div class="container marketing" id="RecycleBins">

  <br><br>
  <h1 class="display-4 fp-heading text-center">Recycle Bins</h1>
  <hr class="featurette-divider">
  
  <!-- Yellow -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Yellow <span class="text-muted"> Container</span><hr style="border: 10px solid yellow; border-radius: 5px;"></h2>
      <p class="lead">
        ✱ Recycle Plastic containers (Envases de plastico) – many of the plastic containers are made to easily be compacted <br>
        ✱ Recycle Metal containers  (Envases de metalicos) tin or can = lata <br>
        ✱ Please be sure to rinse these prior to recycling, to help keep the recycle bins clean and free from unwanted critters. <br>
        ✱ Recycle Plastic bags (Bolsas de plastico) – It is often good to just reuse your plastic bags, but when you are finished with them, please recycle.  A better option is to purchase the reusable bags from the supermarkets and limit your use of plastic bags. <br>
        ✱ Recycle Bricks or Tetra Pak (Bricks) – Most commonly used for packaging liquids like milk, juice, tomato sauce and more. <br>
      </p>
      <div ></div>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../assets/images/yellow.jpg">
    </div>
  </div>
  <hr class="featurette-divider">

  <!-- Blue -->
  <div class="row featurette">
    <div class="col-md-7 order-md-2 left-img-featurette">
      <h2 class="featurette-heading">Blue <span class="text-muted"> Container</span><hr style="border: 10px solid blue; border-radius: 5px;"></h2>
      <p class="lead">
        ✱ Recycle Paper (Papel) – standard office papers, magazines or newspaper. <br>
        ✱ Recycle Cardboard (Cartón) – cardboard boxes, cereal boxes and the like.  (Not milk and juice, those go in the yellow)What to deposit:Newspapers, magazines, comics, cardboard, paper or cardboard packaging, brochures, envelopes, folios, advertising, folded cartons well folded, all kinds of cardboard boxes (breakfast cereals, cookies, shoes, precooked meals), paper, sheets, newspapers, magazines, notebooks, etc.What not to deposit:Dirty papers (toilet paper, kitchen roll, napkins), tracing paper, plastic paper …
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../assets/images/blue.jpg"> 
    </div>
  </div>
  <hr class="featurette-divider">

  <!-- Green -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Green <span class="text-muted"> Container</span><hr style="border: 10px solid green; border-radius: 5px;"></h2>
      <p class="lead">
        The green container is intended only for glass containers (bottles of wine, champagne, liquors, perfume bottles, glass jars for preserves, jam, etc.).  Do not throw fluorescents, light bulbs, mirrors, glasses, plates, broken ashtrays.  The luminaires can be taken to the store in which they were purchased or to the clean point.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../assets/images/green.jpg">
    </div>
  </div>
  <hr class="featurette-divider">

  <!-- Grey -->
  <div class="row featurette">
    <div class="col-md-7 order-md-2 left-img-featurette">
      <h2 class="featurette-heading">Grey <span class="text-muted"> Container</span><hr style="border: 10px solid grey; border-radius: 5px;"></h2>
      <p class="lead">This is the container for all those waste that is not recycled, but cannot be used to compost either. This fraction of waste that cannot be reused is deposited in landfills or landfills.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../assets/images/grey.jpg">
    </div>
  </div>
  <hr class="featurette-divider">


  <!-- GAME -->
  <br><br>
  <h1 class="display-4 fp-heading text-center" id="game">Game </h1>
  <hr class="featurette-divider">


  <!-- Formulario -->
  

</div>